.calendar-wrapper {
  width: 60%;
  height: auto;
  margin: 1em auto 1em auto;
  padding: 1em;
  border-radius: 8px;
  font-size: 45px;
  box-sizing: border-box !important;
  background: #749d9e;
  background: -webkit-linear-gradient(#749d9e, #b3a68b) !important;
  background: -o-linear-gradient(#749d9e, #b3a68b) !important;
  background: -moz-linear-gradient(#749d9e, #b3a68b) !important;
  background: linear-gradient(#749d9e, #b3a68b) !important;
}
table {  
  table-layout: fixed ;
  width: 100% ;
  box-sizing: border-box;
  clear:both;
  width:100%;
  border-radius:3px;
  color:#444;
}
.days td{
  border: 1px solid black;
  text-align: center;
  font-size: 0.7em;
  overflow: hidden;
}
td.not-current {
  color:rgb(206, 206, 206);
  text-align: center;
  font-size: 0.8em;
}
thead td {
  text-align: left;
  color:rgb(59, 59, 71);
  font-size: 99%;
}
table td.normal{
  text-align: center;
} 
table td button {
  font: 30px 'Roboto';
  width: 80%;
  background: linear-gradient(0deg, #5ffc40 50%, #fdfdfd 50%);
  border: solid 1.5px #0c5e63;
  color: rgb(39, 4, 7);
  padding-bottom: 23px;
  text-align: center;
  overflow: hidden;
}
table td button.zauzet {
  background: linear-gradient(0deg, #fc4040 50%, #fdfdfd 50%);
}

.prosli {
  margin: 1px 3em;
  padding: 10px;
  margin-left: 20%;
  font-size: 28px;
  background-color: #b3a68b;
  border-radius: 8px;
  border: 1px solid #0c3436;
}

.prosli:hover {
  cursor: pointer;
  background: linear-gradient(120deg, #0c5e63 20%, #19777c 50%);

}
.sljedeci {
  margin: 1px 3em;
  margin-right: 20%;
  padding: 10px;
  float: right;
  font-size: 28px;
  background-color: #b3a68b;
  border-radius: 8px;
  border: 1px solid #0c3c3f;
}
.sljedeci:hover {
  cursor: pointer;
  background: linear-gradient(120deg, #0c5e63 20%, #19777c 50%);
}

@media screen and (max-width: 800px){
  .calendar-wrapper {
    width: 80%;
    font-size: 40px; 
  }
}

@media screen and (max-width: 600px){
  .calendar-wrapper {
    width: 90%;
    font-size: 30px;
  }

  table td button {
    font: 20px 'Roboto';
  }

 .prosli {
     margin: 2px;
     padding: 5px;
     font-size: 23px;
 }

 .sljedeci {
     margin: 2px;
     padding: 5px;
     font-size: 23px;
 }
}