
.meni ul li{
    display: inline-flex;
    text-shadow: 2px 2px 8px grey;
    font-size: 1.5em;
    margin: 1em;
    list-style-type: none;
}
.meni ul li a{
    color: black;
}
.active  a{
    text-decoration: none;
}
.meni a:hover{
    color:rgb(255, 250, 179);
}
.logo{

    width: 130px;
    position: relative;
    margin-bottom: -45px;
    z-index: 2;
    box-shadow: 2px 2px 2px gray;
}
header {
    text-align: center;
}

nav {
    padding-top: 30px;
    position: relative;
    text-align: center;
    background-color: lightsalmon;
    z-index: 1;
}

@media screen and (max-width: 600px) {
    .meni ul li{
        list-style: none;
        display: block;
        font-size: 22px;
        font-family: 'Times New Roman', Times, serif;
        padding-bottom: 2%;
        text-shadow: 5px 5px 8px gray;
    }
}