.dugmad{
    margin: 20px;
    text-align: center;
    padding: 20px;
}

#prethodne, #sljedece{
    font-size: 50px;
    padding: 10px;
    display: inline;
    margin: 20px;
    font-size: large;
    background-color: bisque;
}

.slike{
    text-align: center;
}
.sakrij{
    display: none; 
}
.slike img{
    margin: 20px;
    width: 400px;
    height: 300px;
    object-fit: cover;
    display: inline-flex;
}