@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);

body {
    background-color: #f1ebe4;
}
.sadrzaj {
    padding: 20px 0px;
}

form {
    width: 35%;
    margin: auto;
    padding: 20px 30px 20px 50px;
    background-color: #749d9e;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 7fr 6fr 1fr;
}
.submit{
    float: right;
}

label,
input,
select {
    margin: 4px 0px;
}
label {
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .sadrzaj {
        font-size: 25px;
        margin-bottom: 250px;
    }
}