.sadrzaj{
    margin: 5px 1px;
    background-color: #f1ebe4;
    padding: 50px;
}

.sadrzaj table
{
	border-collapse: collapse;
	border-spacing: 0;
    width: 60%;
    height: 70%;
    margin: auto;
    font-size: 20px;
}

.sadrzaj table td
{
	padding: 0.5em;
    border: 2px solid rgb(48, 41, 41);
    background-color: transparent;
	text-align:center;
}

table td:first-child{
    text-align:left;
    background-color: #509e9a;
}

.sadrzaj table th
{
    padding:10px 10px;
    border: 2px solid black;
	background-color:#247571;
	text-align:center;
}

table thead th.headerRedni{
    text-align:left;
    background-color: #509e9a;
}

table thead th.prazno{
    border: none;
    background: transparent;
}
table tr td.slobodnaSala{
    background-color: green;
}
table tr td.zauzetaSala{
    background-color:red;
}
table tr td.kancelarija{
    background-color: gray;
}


@media screen and (max-width: 600px){
    .sadrzaj table thead.headerSprat{
        display: none;
    }
    table tr td.headerRedni{
        display: none;
    }
}
